body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

main {
  padding: 2em;
}

section#projects {
  max-width: 800px;
  margin: 0 auto;
}

article {
  background-color: #fff;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 1em 0;
  
  width: 100%;
  bottom: 0;
}

/* styles.css or your main CSS file */
.code-container {
    background-color: #1e1e1e; /* Dark background */
    color: #dcdcdc; /* Light text color */
    padding: 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: pre; /* Preserve whitespace */
    line-height: 1.5; /* Line height for readability */
    border: 1px solid #444; /* Optional border */
}